- from "utils.pug" import loadVendor
- from "utils.pug" import loadVendorJS
- from "utils.pug" import loadVendorCSS
- from "utils.pug" import loadPage
- from "utils.pug" import panelPrimary
- from "utils.pug" import infoPagePanelTr
- from "utils.pug" import li
- from "utils.pug" import liEmail
- from "utils.pug" import panelPrimaryView
- from "utils.pug" import loadJS
- from "utils.pug" import loadCSS
- from "utils.pug" import loadImg
- from "utils.pug" import rowOffset
- from "utils.pug" import panelPrimaryWithInfoBtn
- from "utils.pug" import panelPrimaryWithDeleteBtn

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=1040, maximum-scale=1, minimum-scale=1")

        // link(rel="shortcut icon", href="../img/gear.png", type="image/png")

        title= page_title
        +loadVendor("lib-common")
        +loadVendorCSS("web-fonts")
        +loadVendorJS('bootstrap-hover-dropdown')
    body       
        +loadJS('alert')     
        block content

