+loadCSS( "footer" )
footer
    .container
        .row
            .col-xs-6
                h6 &copy; Компания
            .col-xs-6
                h6.pull-right Обратная связь:
                    a(href="mailto:nekrasov.aleks@mail.ru") nekrasov.aleks@mail.ru