.background
link(rel="stylesheet", href="/css/navbar.css")
nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid.container-fluid-sm
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")
                +loadImg( "cnii-logo-small.png" )
                | Биржа
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/")
                        span.glyphicon.glyphicon-export
                        span Главная
                if login
                    li
                        a(href="/logout")
                            span.glyphicon.glyphicon-log-out
                            span Выход (#{login})
                else
                    li
                        a(href="/login")
                            span.glyphicon.glyphicon-log-out
                            span Вход
