mixin loadCSSandJS(csspath, jspath, name)
    script(src="/#{jspath}/#{name}.js")
    link(rel="stylesheet", href="/#{csspath}/#{name}.css")

mixin loadJS(name)
    script(src="/js/#{name}.js")

mixin loadCSS(name)
    link(rel="stylesheet", href="/css/#{name}.css")

mixin loadVendor(libname)
    +loadCSSandJS("vendor", "vendor", libname)

mixin loadVendorJS(libname)
    script(src="/vendor/#{libname}.js")

mixin loadVendorCSS(libname)
    link(rel="stylesheet", href="/vendor/#{libname}.css")

mixin loadImg(name)
    img(src="/img/#{name}")

mixin loadPage(pagename)
    +loadCSSandJS("css", "js", pagename)

mixin panelPrimary(id, title)
    - var collapseID = id + "-collapse"
    .panel.panel-primary
        a
            .panel-heading(role='button', data-toggle='collapse', href="#" + collapseID)
                h4.panel-title.pull-left
                    a(role='button')= title
                .clearfix
            .panel-collapse.collapse.in(id=collapseID)
                block

mixin panelPrimaryWithInfoBtn(id, title, btnId, link, collapse)
    - var collapseID = id + "-collapse"
    .panel.panel-primary
        .panel-heading
            h4.panel-title.pull-left
                a(role='button',id="a-"+collapseID ,data-toggle='collapse', href="#" + collapseID)= title
                h4.panel-title.pull-right
                    a.glyphicon.glyphicon-info-sign(id=btnId, role='button', href=link, data-toggle='modal')
            .clearfix
        .panel-collapse.collapse(id=collapseID, class=collapse)
            block

mixin panelPrimaryWithDeleteBtn(id, title, btnId)
    - var collapseID = id + "-collapse"
    .panel.panel-primary
        .panel-heading
            h4.panel-title.pull-left
                a( href="#", id=btnId, role='button' )
                    span( style="color: red; margin-right: 5px;" ).glyphicon.glyphicon-remove
                a.panel-title( role='button',id="a-"+collapseID ,data-toggle="collapse", href="#" + collapseID )= title
            .clearfix
        .panel-collapse.collapse.in( id=collapseID )
            block

mixin panelPrimaryView(condition)
    if condition
        block
            
mixin infoPagePanelTr(title, condition)
    if condition
        tr
            th=title
            td
                block

mixin li(items)
    each item in items
        li=item

mixin liEmail(items)
    each item in items
        li
            +emailLink(item)

mixin rowOffset()
    .row
        .col-xs-10.col-xs-offset-1
            .row
                block

mixin emailLink(email)
    a(href="mailto:#{email}")=email

