extends components/page-layout
block page_content  
    script.
        var user_list = #{user_list | safe};

    +loadVendor("datatables")
    +loadVendor("bootstrap-multiselect")
    +loadJS("admin")
    +loadCSS("admin")

    .container-fluid
        .row
            .col-xs-10
                h3 Список пользователей
        .row
            .col-xs-12
                .panel.panel-default
                    .panel-body
                        .row
                            .col-xs-12
                                a.btn.glyphicon.glyphicon-plus#user-add(data-toggle="modal", data-target="#add-user", type="button")
                                    | Добавить пользователя
                            .clearfix
                            .col-xs-12
                                .table-responsive
                                    table.table.display#user-table

    .modal.fade#add-user
        .modal-dialog
            .modal-content
                form.form.form-horizontal#add-user-form(action="/admin/add-user", method="POST", name="register_user_form")
                    .modal-header
                        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
                        h4.modal-title Добавление нового пользователя
                    .modal-body
                        .form-group
                            label.control-label.col-sm-3 Имя пользователя
                            .col-sm-8
                                .input-group
                                    span.input-group-addon.glyphicon.glyphicon-user
                                    input.form-control#email(name="email", type="text", value="", required)
                        .form-group
                            label.control-label.col-sm-3 Пароль
                            .col-sm-8
                                .input-group
                                    span.input-group-addon.glyphicon.glyphicon-lock
                                    input.form-control#pswd(name="password", type="password", required)
                        .form-group
                            label.control-label.col-sm-3 Подтвердите пароль
                            .col-sm-8
                                .input-group
                                    span.input-group-addon.glyphicon.glyphicon-lock
                                    input.form-control#repeat-pswd(name="password_confirm", type="password", required)

                        .form-group
                            label.control-label.col-sm-3 Права доступа
                            .col-sm-8
                                select#role-multiselect(name="role")
                                    option(value='departament') Департамент министерства промышленности и торговли
                                    option(value='Admin') Администратор
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Отмена
                        button.btn.btn-primary(type='submit') Добавить

    .modal.fade#new-password
        .modal-dialog
            .modal-content
                form.form.form-horizontal#new-pswd-form(action="/admin/changepsw", method="POST", name="new-pswd-form")
                    .modal-header
                        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
                        h4.modal-title Изменить пароль
                    .modal-body
                        .form-group
                            label.control-label.col-sm-3 Имя пользователя
                            .col-sm-8
                                .input-group
                                    span.input-group-addon.glyphicon.glyphicon-user
                                    input.form-control#login(name="login", type="text", required, disabled="disabled")
                        .form-group
                            label.control-label.col-sm-3 Новый пароль
                            .col-sm-8
                                .input-group
                                    span.input-group-addon.glyphicon.glyphicon-lock
                                    input.form-control#new-pswd(name="new_password", type="password", placeholder="Новый пароль", required)
                        .form-group
                            label.control-label.col-sm-3 Повторите пароль
                            .col-sm-8
                                .input-group
                                    span.input-group-addon.glyphicon.glyphicon-lock
                                    input.form-control#repeat-new-pswd(name="new_password_confirm", type="password", placeholder="Повторите пароль", required)
                    .modal-footer
                        a.btn.btn-default(type='button', data-dismiss='modal') Отмена
                        button.btn.btn-primary(type='submit') Изменить

    .modal.fade#delete
        .modal-dialog
            .modal-content
                form.form.form-horizontal#delete-form(action="/admin/delete-user", method="POST", name="delete")
                    .modal-header
                        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
                        h4.modal-title Удалить пользователя
                    .modal-body
                        .container
                            .row
                                .col-xs-offset-1.col-xs-10
                                    p Вы точно хотите удалить пользователя: 
                                        span#login-del
                            .row.form-group(style="display:none;")
                                .col-xs-offset-1.col-xs-10
                                    input#login-delete-none(name="login-delete")
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Отмена
                        button.btn.btn-primary(type='submit') Удалить
