extends components/page-layout

block page_content
    +loadCSS( "index" )
    .container
        .row
            .col-xs-12
                h1 Привет мир
            .clearfix
            .col-xs-6
                | Левый блок
            .col-xs-6
                p Правый блок