extends ../components/page-layout
block page_content
    +loadCSS( "login" )
    .container.body-content
        h3
            .name-company.text-uppercase.hidden-xs.hidden-sm.col-md-6.col-lg-6 Маркет
        h5
            .name-company.text-uppercase.hidden-md.hidden-lg.col-sm-12.col-xs-12 Маркет
        .col-xs-12.col-sm-10.col-md-4.col-sm-offset-1.col-md-offset-1.autoriz
            form.panel.panel-primary(method="post", name="login_user_form", action="#{url_for_security('login')}")
                .panel-body.text-center
                    h4 АВТОРИЗАЦИЯ
                    h6 *Заполните поля для авторизации
                    != login_user_form.hidden_tag()
                    .row
                        .col-xs-12.col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
                            .form-group
                                input.form-control.input-lg(id='email' name='email',type="text", placeholder="Имя пользователя", autofocus='', required)
                    .row
                        .col-xs-12.col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
                            .form-group
                                input.form-control.input-lg(id='password' name='password', type="password", placeholder="Пароль", required)
                    .row
                        button.btn.btn-primary.col-xs-10.col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2.col-xs-offset-1(type="submit", name="Login") ВХОД