extends ../components/page-layout
block page_content

    script.
        var contacts = #{contacts | safe};
        var messages = #{messages | safe};
        console.log(messages)

    +loadVendor("datatables")
    +loadVendor("bootstrap-multiselect")
    +loadJS("messages")


    .container-fluid
        +rowOffset()
            .col-xs-12
                h3 Сообщения 
        +rowOffset()
            .col-xs-3
                +panelPrimary("contacts", "Контакты")
                    .panel.panel-default
                        .panel-body
                            .table-responsive
                                table.table#contacts-table

            .col-xs-9
                +panelPrimary("message", "Сообщения")
                    .panel-body
                        .table-responsive
                            table.table.display.stripe#message-table
