extends ../components/page-layout
block content
    script(src="../lib/jquery-2.1.4.min.js")
    script(src="../lib/bootstrap.min.js")
    link(rel="stylesheet", href="../css/index.css")
    .container
        .row(style="margin-top:50px")
            .col-xs-offset-2.col-xs-6
                form.form.form-horizontal(action="#{url_for_security('register')}", method="POST", name="register_user_form")
                    != register_user_form.hidden_tag()
                    .form-group
                        label.control-label.col-sm-3 Имя пользователя
                        .col-sm-9
                            input.form-control(name="email", type="text", required)
                            if register_user_form.email.errors
                                ul
                                for error in register_user_form.email.errors
                                    li= error
                    .form-group
                        label.control-label.col-sm-3 Пароль
                        .col-sm-9
                            input.form-control(name="password", type="password", required)
                    .form-group
                        label.control-label.col-sm-3 Подтвердите пароль
                        .col-sm-9
                            input.form-control(name="password_confirm", type="password", required)
                    .col-sm-offset-3
                        input.btn.btn-primary(type="submit", name="register", value="Зарегистрировать")
