.multiselect
    width: 100%;
    white-space: normal

.multiselect-container
    width: 100%;

.multiselect-container.dropdown-menu
    width: select-width
    overflow-y: scroll
    overflow-x: hidden
    max-height: 60vh

.multiselect-container
    li
        a
            white-space: normal

#user-add
    float:right;
    background-color: #4caf50;
    margin-left: auto;
    margin-right: 0em;
    color: white;
    text-transform : none;