.cbp_tmtimeline 
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;


/* The line */
.cbp_tmtimeline:before 
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #2babe3
    left: 20%;
    margin-left: -10px;


/* The date/time */
.cbp_tmtimeline 
    li 
        .cbp_tmtime 
            display: block;
            padding-right: 100px;
            margin: -15px 0 0 0;
            position: absolute;


.cbp_tmtimeline 
    li 
        .cbp_tmtime 
            span 
                display: block;
                text-align: right;


.cbp_tmtimeline 
    li 
        .cbp_tmtime 
            span:first-child 
                font-size: 0.9em;
                color: #bdd0db;


.cbp_tmtimeline 
    li 
        .cbp_tmtime 
            span:last-child 
                font-size: 2.9em;
                color: rgba(162, 98, 89, 0.5);


.cbp_tmtimeline 
    li:nth-child(odd) .cbp_tmtime span:last-child 
        color: rgba(162, 98, 89, 1);


/* Right content */
.cbp_tmtimeline 
    li 
        .cbp_tmlabel 
            margin: -35px 0 15px 25%;
            background: rgba(162, 98, 89, 0.5);
            color: #fff;
            padding: 2em;
            font-size: 1.2em;
            font-weight: 300;
            line-height: 1.4;
            position: relative;
            border-radius: 5px;


.cbp_tmtimeline 
    li:nth-child(odd) .cbp_tmlabel 
        background: rgba(162, 98, 89, 1);


.cbp_tmtimeline 
    li 
        .cbp_tmlabel 
            h2
                margin-top: 0px;
                padding: 0 0 10px 0;
                border-bottom: 1px solid rgba(255,255,255,0.4);


/* The triangle */
.cbp_tmtimeline 
    li .cbp_tmlabel:after 
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: rgba(162, 98, 89, 0.5);
        border-width: 10px;
        top: 10px;


.cbp_tmtimeline 
    li:nth-child(odd) .cbp_tmlabel:after 
        border-right-color: rgba(162, 98, 89, 1);


/* The icons */
.cbp_tmtimeline 
    li 
        .cbp_tmicon 
            width: 40px;
            height: 40px;
            font-family: 'ecoico';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: 1.4em;
            line-height: 40px;
            -webkit-font-smoothing: antialiased;
            position: relative;
            color: #fff;
            background: #76cdf3;
            border-radius: 50%;
            box-shadow: 0 0 0 8px #2babe3;
            text-align: center;
            left: 20%;
            top: 0;
            margin: 0 0 0 -25px;


/* Example Media Queries */
@media screen and (max-width: 90.375em) {
    .cbp_tmtimeline li .cbp_tmtime {
        width: 150px;
        line-height: 2.0em;
    }
}

@media screen and (max-width: 65.375em) {
    .cbp_tmtimeline li .cbp_tmtime {
        margin: 0 0 0 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 55.375em) {
    .cbp_tmtimeline li .cbp_tmtime {
        width: 150px;
        line-height: 2.0em;
        margin: 0 0 0 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: rgba(162, 98, 89, 0.5);
        top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: rgba(162, 98, 89, 0.5);
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }   
}

