@require "components/variables"

html
    position: relative
    min-height: 100%

body
    margin-bottom: footer-height

footer
    min-height: footer-height
    position: absolute
    bottom: 0
    background-color: rgba(221, 221, 221, 0.8)
    width: 100%
    z-index: 1000 