// h1, h2, h3, h4, h5, h6 
//     color: #F5EED2;


.name-company 
    font-family: Verdana;
    letter-spacing:0.5px;
    color: #F5EED2;
    text-align: center;
    text-shadow: -0 -1px 4px #071724,
    0 -1px 4px #071724,
    -0 1px 4px #071724,
    0 1px 4px #071724,
    -1px -0 4px #071724,
    1px -0 4px #071724,
    -1px 0 4px #071724,
    1px 0 4px #071724,
    -1px -1px 4px #071724,
    1px -1px 4px #071724,
    -1px 1px 4px #071724,
    1px 1px 4px #071724,
    -1px -1px 4px #071724,
    1px -1px 4px #071724,
    -1px 1px 4px #071724,
    1px 1px 4px #071724;



.input-lg
    color: #F5EED2;


.panel-primary
    background:rgba(7,23,36,0.7);
    border-radius:10px;
    border:0;

.panel-body
    background:rgba(7,23,36,0);
