@require "components/variables"

.background
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: url(/img/background.png) no-repeat center center fixed
    background-size: cover

body
    padding-top: body-padding-top

.navbar-brand 
    padding: 0
    display: flex
    align-items: center

    & > img
        height: 80px
        padding: 15px
        width: 80px

.navbar .glyphicon 
    margin-right: 5px
    z-index: -1

@media (max-width: 388px)
    .navbar-brand
        font-size: 15px

// activate collapse on sm screen
@media (max-width: 991px) 
    .navbar-header 
        float: none
    
    .navbar-toggle 
        display: block
    
    .navbar-collapse 
        border-top: 1px solid transparent
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)
    
    .navbar-collapse.collapse 
        display: none!important
    
    .navbar-nav 
        float: none!important
        margin: 7.5px -15px
    
    .navbar-nav>li 
        float: none
    
    .navbar-nav>li>a 
        padding-top: 10px
        padding-bottom: 10px
    
    .navbar-text 
        float: none
        margin: 15px 0

    .navbar-collapse.collapse.in 
        display: block!important
    
    .collapsing 
        overflow: hidden!important

@media (max-width: 991px) 
    .container-fluid-sm 
        width: inherit

@media print
    @page
        size: auto;margin: 0
    
